nav {
    ul {
        /*margin-left: 2vw;*/
        padding-left: 37%;
    }
    li {
        width: auto;
    }
    a {
        padding: .7rem 1rem;
    }
}

#pie-article {
    width: 100%;
}

#home-highlight {
    grid-template-columns: 1fr 1fr;
}

#menu-background {
    width: 700px;
}

#crust-viewer {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.row {
    padding-left: 20px;
}

@for $i from 1 through 12 {
    $width: ($i / 12) * 100%;
    .large-#{$i} {flex-basis: $width;}
}