@media only screen and (max-width:1230px) {
    .Welcome {
        font-size: 1.1rem;
    }
    #home-highlight {
        grid-template-columns: 1fr !important;
    }
    #banner {
        display: none;
    }
    main {
        height: 100%;
    }
    .steam {
        display: none;
    }
    .aside-mobile-none {
        display: none;
    }
    .article-mobile {
        width: 100%;
    }
    .pie {
        margin: 10px auto;
    }
}

@media screen and (min-width:481px) and (max-width:1023px) {
    @for $i from 1 through 12 {
        $width: ($i / 12) * 100%;
        .medium-#{$i} {flex-basis: $width;}
    }
    #crust-viewer {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:900px) {
    article {
        width: 100%;
    }
    aside {
        display: none;
    }
    #order-page, #menu-background {
        max-width: 700px;
    }
}
@media only screen and (min-width: 768px) {
    aside, article {
        padding: 2em;
    }
    main {
        display: flex;
    }
    .columns-desktop{
        display: flex;
    }
    nav {
        ul {
            display: inline;
        }
        button {
            display: none;
        }
    }
    h1 {
        font-size: 3rem;
    }
    #sample {
        width: 400px;
    }

    #form {
        width: 700px;
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 767px) {
    nav {
        ul {
        display: none;
        }
        ul.open {
            display: block;
        }
    }
    aside, article {
        padding: 1em;
        /*margin-bottom: 40px;*/
    }
    h1 {
        font-size: 1.7rem;
    }
    nav a:link, tbody {
        font-size: 1.3rem;
    }
    td:first-of-type {
        width: 50%;
    }
    .Welcome {
        font-size: 1.1rem;
    }
}