$primaryColor: #43281c/*#D198C5FF; light-purple*/;
$secondaryColor: #33796e/*#40A798 //macha */;
$markingColor: #9E4C81; //magenta-pink
$highlightColor: /* #F2EDD7FF; sweet-corn */ #fbf2c0 /*lemon*/;

$orangeChocolate: #1F150F;
$whiteChocolate: #faf7f5;
$vanilla: #f1e3d3;
$cream: #ddb892;
$mocha: #7f4f24;
$coffee: #43281c;
$green: #333d29;