$primaryColor: #D198C5FF; //light-purple
$secondaryColor: #40A798; //macha
$markingColor: #9E4C81; //magenta-pink
$highlightColor: #F2EDD7FF; //sweet-corn

$orangeChocolate: #1F150F;
$whiteChocolate: #faf7f5;