@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Satisfy&display=swap');
* {
    margin: 0;
}

html, body { 
    height: 100%;
}

body {
    background-color: #1F150F;
    font-family: sans-serif;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #B58AAC;
}

nav a:visited, nav a:link {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 1.7rem;
    text-decoration: none;
    text-shadow: -1px -1px 0 #1F150F;
}

nav > ul {
    display: inline;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
    padding: 15px;
}

main {
    display: block;
    background-color: #faf7f5;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23edebe2' fill-opacity='0.27' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding-top: 3em;
    min-height: 85%;
}

p {
    margin: .5em 0 .5em 0;
}

footer {
    padding: 15px;
}

aside, article {
    padding: 2em;
}

aside, table {
    text-align: center;
}
    #logo {
        height: 150px;
        width: 150px;
        background-color: #A5B993;
        clip-path: polygon(0 0, 62% 0, 80% 16%, 99% 33%, 81% 48%, 63% 62%, 0 63%);
    }
article {
    width: 75%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(190, 173, 152, 0.55);
    border: 1px solid #1F150F;
}
    #banner {
        max-width: 100%;
    }

    h1 {
        font-family: 'Satisfy', cursive;
        font-size: 3em;
        margin-top: 0.5em;
    }
        h1, .established {
            text-align: center;
        }
        .established {
            font-style: italic;
        }

    .Welcome {
        font-size: 1.5em;
        padding: 15px;
        border: 1px solid #1F150F;
    }

    .Welcome, .pie, #logo {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(66, 42, 31, 0.301);
    }

    a {
        color: #9E4C81;
        font-weight: bold;
        text-decoration: none;
    }

    table {
        border: 2px solid #edebe2;
        border-bottom: 1px solid black;
    }
        thead {
            font-size: 2rem;
        }

        tbody {
            font-size: 1.5rem;
        }

    .CTA {
        font-family: 'Dancing Script', cursive;
        color: #516747;
        font-size: xx-large;
        font-weight: bold;
        padding: 15px;
    }

.columns {
    display: flex;
}

footer{
    font-family: 'Satisfy', cursive !important;
    font-size: 0.95em;
    text-align:center;
    color: #faf7f5;
    background-color: #4E4434;
}

footer:hover {
    animation-name: text-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;}

    @keyframes text-color {
        100% {
            color: #B58AAC;
            }
        }

@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
    }

    .columns-desktop{
        display: flex;
    }

    #form {
        width: 350px;
    }
}

@media only screen and (max-width:900px) {
    article {
        width: 100%;
    }
    aside {
        display: none;
    }
}

/**** PIES PAGE ****/
.pie {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.pie img {
    width: 100%;
}

.pie .title {
    font-weight: bold;
    font-size: 1.5rem;
}

.pie .columns {
    width: 100%;
}

.pie .price {
    text-align: right;
}

.pie .columns div {
    width: 50%;
}

.pie button {
    color: #fff;
    background-color: #f6aeae;
    padding: 10px;
    border: 1px solid #f6aeae;
    border-radius: 3px;
}

#pie-stock {
    text-align: center;
    font-style: italic;
}

/**** ORDER PAGE ****/
.input-group {
    margin-bottom: 20px;
}

.input-group input, .input-group textarea, .input-group select {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 2px;
    width: 100%;
}

label {
    font-weight: 600;
}

input[type="reset"] {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
}

input[type="submit"] {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px;
}

/**** MENU PAGE ****/
.menu-subheadline {
    text-align: center;
    padding: 7px 10px 20px 7px;
}

hr {
    background-color: #1F150F;
    height: 2px;
    margin-bottom: 15px;
}

#menu-background {
    background-color: rgba(205, 185, 158, 0.5);
    max-width: 700px;
}

.item p {
    display: inline-block;
    font-size: 1.3rem;
    padding-right: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
}
    .flavour, .dessert {
        text-align: right;
        width: 49%;
    }
    
    .price {
        font-style: italic;
        text-align: left;
        width: 45%;
    }

/**** CONTACT PAGE ****/
#contact {
    font-size: 1.5rem;
}